body {
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Laila', serif;
}

.title {
    text-align: center;
    padding: 30px;
    font-size: 30px;
    color: #5a3c26;
}

label {
    color: #ffcbb8;
}

#button-array {
    display: flex;
    justify-content: center;
}

.weather, #add-weather {
    background-color: #eab6aa;
    color: #5a3c26;
    border-color: #9b9caa;
    border-radius: 5%;
    margin: 1%;
}

form {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#gif-array {
    text-align: center;
    padding: 10px;
    color: #ffcbb8;
    border-style: solid;
    border-width: 1px;
    border-color: #ffcbb8;
    margin-bottom: 10px;
}

.gif {
    max-width: 400px;
}

.examplediv {
    background-color: #ffcbb8;
    background-color: #9b9caa;
    background-color: #e79f6f;
    background-color: #5a3c26;
    background-color: #eab6aa;
}

